h1{
    font-size:30px;
}
table,th,td{
    //width:300px;
    border:1px solid black;
}
table{
    border-collapse:collapse;
    margin-top:15px;
}
table button {
    margin: 5px;
}
th,td{
    padding:3px;
}
th{
    background-color:antiquewhite;
}
#starter{
    display:flex;
    //flex-direction:column;
}

/*CAR PAGE START*/
#carcreate,  #bs {
    display: flex;
    width: 200px;
    flex-direction: column;
}
#cartabla button {
    //background-image: url("S:\egyetem\8th degree\prog4\YL1CC3_HFT_2022231-master\YL1CC3_HFT_2022231-master\YL1CC3_HFT_2022231.JSClient\bin\Debug\net5.0");
}
#modifycar {
    display: none;
    width: 200px;
    flex-direction: column;
}

#carpage{
    display:none;
    flex-direction:column;
    width:400px;
}

/*Brand page start*/

#brandpage, #brandpage div{
    display:flex;
    flex-direction:column;
    width:300px;
}
#brandshowbrand{
    display:none;
}
