h1{
    font-size:30px;
}
th,td{
    //width:300px;
    border:1px solid black;
}
table{
    border-collapse:collapse;
    margin-top:15px;
}
table button {
    margin: 5px;
}
th,td{
    padding:3px;
}
th{
    background-color:antiquewhite;
}
#starter button{
    margin:20px;
}

/*CAR PAGE START*/
#carcreate,  #bs {
    display: flex;
    width: 200px;
    flex-direction: column;
}
#cartabla button {
    //background-image: url("S:\egyetem\8th degree\prog4\YL1CC3_HFT_2022231-master\YL1CC3_HFT_2022231-master\YL1CC3_HFT_2022231.JSClient\bin\Debug\net5.0");
}
#modifycar {
    display: none;
    width: 200px;
    flex-direction: column;
}

#carpage{
    display:none;
    flex-direction:column;
    width:400px;
}

/*Brand page start*/

#brandpage, #brandpage div{
    display:none;
    flex-direction:column;
    width:300px;
}
#modifybrand{
    display: none;
}
#brandshowbrand{
    display:none;
}

/*RENT PAGE START*/
#rentpage *{
    margin:5px;
    padding:5px;
}
#modifyrent {
    display: none;
    width:500px;
    
}
#rentcreate {
    display: none;
    width: 500px;
}
#renttabla {
    display: none;
    width: 800px;
}

/*minden mas*/
#parametricbrands thead{
    background-color:antiquewhite;
}


#starter button {
    position: relative;
    border-radius: 5px;
    box-shadow: 0 5px #999;
}
#starter button:focus {
    transition: 0.3s;
    box-shadow: 0 2px black;
    transform: translateY(3px);
}

#noncrudbut button{
    position:relative;
    border-radius:15px;
    box-shadow:0 5px #999;
}
.alma {
    position: relative;
    cursor: pointer;
    height: 140px;
    width: 200px;
    left: 0;
}
#border {
    box-shadow: 0 5px #999;
    margin-bottom:20px;
}
/*#noncrudbut button:focus {
    transition: 0.3s;
    box-shadow: 0 2px black;
    transform: translateY(30px);
        
}*/


#noncrudbut button:focus {
    transform: translateY(650px) rotate(300deg);
    content: string("kula");//oke ezt nem ertem;
    box-shadow: 0 2px black;
}

#mutat{
    position:relative;
    top:720px;
    right:-1400px;
    font-size:2em;
}

#noncrudbut button {
    margin: 10px;
    margin-bottom: 20px;
    transition: transform 1s;
}

